*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

body{
    /* font-family: "Actor", sans-serif; */
    background-color: #252a34;
    width: 100%;
    height: 100% !important;
    transition: 0.2s ease-in-out;
    color: white;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    font-family: "Actor", sans-serif;
}

.head h1{
    /* font-size: 40px; */
    margin-bottom: 20px;
}

.turn_container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn_container .info{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 25px;
    margin: 0;
}

.turn_container .turn_box{
    border: 3px solid black;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.turn_container .turn_box:nth-child(even){
    /* background-color: rgb(247, 238, 255); */
    border-right: none;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #FF2E63;
    z-index: -1;
}

.board{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 8vw);
    grid-template-rows: repeat(3, 8vw);
    margin-bottom: 60px;
    font-family: "Actor", sans-serif;
}

.box{
    border: 1px solid white;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(247, 238, 255);
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_won{
    font-family: "Actor", sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
}

.reset{
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Actor", sans-serif;
    text-transform: uppercase;
    color: white;
}

.reset:hover{
    background-color: #FF2E63;
    border: none;

}

@media screen and ((min-width: 450px) and (max-width: 800px))
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .board{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
}

@media screen and (max-width: 450px)
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .board{
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }
}